kinematics_20160720/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
kinematics_20160720/obj/Debug/kinematics_20160720.csproj.FileListAbsolute.txt
kinematics_20160720/obj/Debug/kinematics_20160720_MarkupCompile.i.cache
